.navbar-wrapper{
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 10px 12px -1px rgba(194,194,194,1);
 .p-dropdown{
  height: 60px;
  align-items: center;
  background: transparent;
  width: 200px;
}
.logo{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 auto;
}
}
