td,th{
  text-align: center;
}
.admins-view-wrapper{
 .p-datatable-header{
  border-top-left-radius: 15px ;
  border-top-right-radius: 15px ;
}
.user-avatar{
  background: var(--primary);
  border-radius: 50%;
  height: 50px;
  display: block;
  width: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  margin: 0 auto;
}
}
