<div class="loginForm-wrapper">
  <p class="header mb-2">{{'labels.login'|translate}}</p>
  <div class="container grid mx-auto">
    <form [formGroup]="loginForm" class="form-wrapper p-4 col-12 md:col-8 lg:col-5">
      <!-- email -->
      <div class="flex flex-column gap-1 mb-6 relative">
        <label htmlFor="email">{{'labels.email' | translate}}</label>
        <input pInputText formControlName="email"
        [ngClass]="{
          'ng-invalid ng-dirty':
            formControls['email'].errors &&
            formControls['email'].touched
        }"/>

        <!-- email is required -->
        <small
        *ngIf="
          formControls['email'].errors?.required &&
          formControls['email'].touched
        "
        style="bottom: -22px;"
        class="p-error absolute block my-1 font-semibold"
        >
        {{'forms-msg.error-msg' | translate}}
        </small>

        <!-- error msg to the email validation -->
      <small
      *ngIf="
        formControls['email'].errors?.email &&
        formControls['email'].touched
      "
      style="bottom: -22px;"
      class="p-error absolute block my-1 font-semibold"
      >
      {{'forms-msg.mail-error-msg' | translate}}
      </small
    >
      </div>
      <!-- password -->
      <div class="flex flex-column gap-1 my-4 relative">
        <label htmlFor="password">{{'labels.password' | translate}}</label>
        <input pInputText type="password" formControlName="password" />
          <!-- password is required -->
          <small
          *ngIf="
            formControls['password'].errors?.required &&
            formControls['password'].touched
          "
          style="bottom: -22px;"
          class="p-error absolute block my-1 font-semibold"
          >
          {{'forms-msg.error-msg' | translate}}
          </small>
      </div>
      <!-- submit btn -->
    <button
    class="main-btn"
    (click)="onSubmit();"
    [ngClass]="loginForm.invalid ? 'disabled-main-btn':''"
    [disabled]="loginForm.invalid"
    >{{'actions.submit-btn' | translate}}</button>
    </form>
  </div>

</div>
<p-toast></p-toast>
