.loginForm-wrapper{
  background: var(--white-bg);
  height: 100vh;
  padding: 200px 0;
  .header{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
  }
  .header::after{
    content: '';
    background: var(--primary);
    display: block;
    margin: 10px auto 40px;
    width: 40px;
    height: 2px;

  }
  .form-wrapper{
    background: var(--white);
    color: var(--black);
    margin: 0 auto;
    border-radius: 10px;
    height: 20%;
  }
}
